@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="vi">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>Báo Tuổi Trẻ-Tin tức mới nhất,tin nhanh</title>
    <h1>Nam sinh trường y đi học rồi mất liên lạc nhiều ngày, gia đình trình báo công an </h1>
    <meta name="description" content="Bài tập thực hành lập trình Web buổi 1 bài tập 1" />
    <meta name="keywords" content="Lập trình Web cơ bản" />
</head>
<body>
    <div>
        <h3>Công an phường Phú Diễn tiếp nhận thông tin Nguyễn Quang Lộc (18 tuổi), sinh viên Trường cao đẳng Y khoa Hà Nội, mất liên lạc với gia đình sau khi rời nhà từ sáng 13-9.</h3>
        <img src=" https://cdn2.tuoitre.vn/471584752817336320/2025/9/17/base64-17581153249632005191481.jpeg" />
        <p>Ngày 17-9, Công an TP Hà Nội cho biết Công an phường Phú Diễn đã tiếp nhận thông tin của gia</br> đình Nguyễn Quang Lộc (18 tuổi, trú xã Hòa Xá, Hà Nội) về việc anh đi khỏi nhà từ sáng 13-9 đến</br> nay chưa về.</p>
        <p>Theo thông tin ban đầu, kể từ ngày Lộc đi khỏi nhà, gia đình không liên lạc được.</p>
        <p>Trao đổi với Tuổi Trẻ Online, ông Nguyễn Văn Vinh (41 tuổi, cha của Lộc) cho biết những ngày</br> qua gia đình vô cùng hoang mang, lo lắng vì không rõ tung tích con trai.</p>
        <p>Ông kể Lộc vừa nhập học Trường cao đẳng Y khoa Hà Nội được vài tuần. Sáng 13-9, Lộc vẫn đi</br> học, ban ngày còn nhắn tin về nhà, nhưng đến tối thì "bặt vô âm tín".</p>
        <p>"Cháu rất ngoan hiền, dễ bảo, trước khi đi cũng không có mâu thuẫn hay bị bố mẹ trách mắng gì.</br> Gia đình đã tìm khắp nơi, nhờ công an hỗ trợ nhưng chưa có kết quả. Mong ai nhìn thấy cháu ở</br> đâu báo giúp để gia đình sớm đón con về", ông Vinh chia sẻ.</p>
        <p> Công an Hà Nội đề nghị ai biết hoặc nhìn thấy anh ở đâu xin báo cho gia đình (số điện thoại:</br> 0917121918, 0876676869).</p>                   
    </div>
</body>
</html>
